<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="personService" class="org.core.spring.impl.PersonServiceImpl"></bean>

    <bean id="personService2" class="org.core.spring.chapter4.StaticFactory" factory-method="getPersonService"></bean>

    <bean id="factoryMethod" class="org.core.spring.chapter4.FactoryMethod"></bean>
    <bean id="personService3" factory-bean="factoryMethod" factory-method="createPersonService"></bean>

    <bean id="personService5" class="org.core.spring.impl.PersonServiceImpl"></bean>
    <bean id="personService51" class="org.core.spring.impl.PersonServiceImpl" scope="prototype"></bean>


</beans>